.linea-horizontal {    
    width: 60%;
    height: 1px;
    margin-right: 25%;
    background: black;
    margin-top: 20px; /* Margen superior para la línea horizontal */
    margin-bottom: 50px; /* Margen superior para la línea horizontal */
}

.main-background{
  background:linear-gradient(to bottom right, #ecefef , #eeb560, #fbad11);
  

}

.crearArticulo-form{
  display:contents;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 300px;
  height: 30px;

}
.categoria{
    margin-bottom: 40px; 
    margin-top: 60px; 
}
/* Agrega este código CSS a tu archivo de estilos (mainPage.css o el que estés utilizando) */
.imagen-row {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: nowrap; /* Evita el salto de línea en las imágenes */
    justify-content:center; /* Alinea las imágenes al principio */
    align-items: center; /* Centra verticalmente las imágenes y botones */
  }

h1{
  text-align:center ;
  font-size: 3em;
  font-weight: 900;
  color: rgb(51, 66, 94);
  text-shadow:black ;
  margin-top: 0px;
}

h6{
  text-align:left ;
  font-size: 140%;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(51, 66, 94);
  text-shadow:black ;
  margin-top: 0px;
  margin-left: 20px;
}
h7{
  text-align:center ;
  font-size: 40%;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(106, 106, 107);
  text-shadow:rgb(0, 0, 0) ;
  margin-top: 0px;
  margin-left: 10px;
}



.main-box {
  width: 700px; /* Ancho máximo del cuadro */
  height: 900px;
  margin: 0 auto; /* Centrar el cuadro en la pantalla */
  padding: 20px; /* Espaciado interno del cuadro */
  border: 1px solid #ccc; /* Borde del cuadro */
  background-color: white; /* Fondo blanco del cuadro */
  border-radius: 40px 10px; /* Bordes redondeados */
  box-shadow: rgba(0, 5, 9, 0.2) 0px 8px 24px;
}

.main-box-pedidos {
  width: 800px; /* Ancho máximo del cuadro */
  height: 900px;
  margin: 0 auto; /* Centrar el cuadro en la pantalla */
  padding: 20px; /* Espaciado interno del cuadro */
  border: 1px solid #ccc; /* Borde del cuadro */
  background-color: white; /* Fondo blanco del cuadro */
  border-radius: 40px 10px; /* Bordes redondeados */
  box-shadow: rgba(0, 5, 9, 0.2) 0px 8px 24px;
}


.button-main{
  width: 500px;
  height: 70px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Helvetica , sans-serif;
  font-size: 90%;
  font-weight: 700;
  border-radius: 8px 2px;
  cursor: pointer;
  background: linear-gradient(to bottom right, #f5f3f1, #f3e5ce);
}

.button-main:hover{
  width: 510px;
  height: 80px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

h2{
  font-family:cursive ;
  text-align:center ;
  font-size: 2em;
  margin-bottom: 1em;
  color: #605843;
  text-shadow:black;
}

.display-button{
  display: flex;
  align-items:center;
  flex-direction: column;
  
}


  .imagen-container {
    display:flex ;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 320px;
    background-color: white;

   /* height: 150px;*/
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 10px; /* Espacio entre imágenes */
  }
  
  
  .imagen-container img {
    
    width: 300px; /* Ancho de la imagen */
    height: 300px; /* Alto de la imagen */
    margin-bottom: 5px; /* Espacio entre la imagen y el botón "Ver" */
  }
  


.imagen-container button {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  width: 15cqb;
  height: inherit;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-bottom: 5px;
}

.imagen-container button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.imagen-container button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.input-row{
display: flex;
flex-direction: row;
align-items: baseline;
margin: 0 auto;

}
.input-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


textarea#styled {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}