/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 5, 9, 0.2) 0px 8px 24px;
  }
  
  .navbar-content {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    justify-content: center;
  }
  
  .search-bar {
    padding: 10px;
    font-size: 16px;
    width: 30%;
    margin-left: 240px; /* Esto centrará la search bar horizontalmente */
  }
  .navbar-icon {
    width: 70px;
    height: 70px;
    margin-right: 0px;
    margin-top: 0px;
  }
  
  .navbar-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .navbar-button {
    border-style: none;
    width: 50px;
    height: 50px;
  }
  
  .profile-btn {
    width: 65px;
    height: 59px;
  }
  
  .button {
    width: 65px;
    height: 60px;
    border-style:none;
    background-color: white;
    
  }
  
  .search-icon {
    color: white;
  }
  
  .search-container{
    background: #b6bcc5;
    height: 30px;
    border-radius: 30px;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 230px;
    transition: 0.8s;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }
  
  .search-container:hover > .search-input{
    width: 400px;
  }
  
  .search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    color: white;
    transition: 0.8s;
  
  }
  
  .search-container .search-btn .fas{
    color: #5cbdbb;
  }
  
  @keyframes hoverShake {
  0% {transform: skew(0deg,0deg);}
  25% {transform: skew(5deg, 5deg);}
  75% {transform: skew(-5deg, -5deg);}
  100% {transform: skew(0deg,0deg);}
  }
  
  .search-container:hover{
  animation: hoverShake 0.15s linear 3;
  }